body{
    background: #757F9A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
input[type="text"], input[type="number"]{
    background-color: lightgray;
    border: 1px solid black;
}
label{
    font-size: 17px;
}
button[type="submit"]{
    background-color: green;
    border: none;
    margin: 0 auto;
    display: block;
    /* width: 100%; */
}